*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header
{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header
{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container
{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1
{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Nabla', cursive;
    font-size: 40px;
}

.navigation
{
    float: right;
    height: 100%;
}

.navigation li
{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation li a
{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

/*psudo selector*/
.navigation a:last-child
{
    padding-right: 0;
}

.socials
{
    float: left;
    height: 100%;
}

.socials a
{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.socials a li
{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.socials a:first-child
{
    padding-left: 50px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.main_area {
    height: 100%;
    width: 100%;
    margin: 40px 0; /* Equal margin space on top and bottom, no right or left margin */
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center; /* Center vertically */
}

.big_card_helper {
    padding: 20px; /* Add padding to create space */
}

.big_card {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 80vh; /* Limit the image height to 80% of the viewport height */
    width: auto; /* Let the width adjust automatically */
    height: auto; /* Let the height adjust automatically */
}

@media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .main_area {
        margin: 20px 0 20px 10px; /* Adjust margins for smaller screens */
    }